<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iamsdt.pssd">

    <!-- All permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.details.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.BackupSettings"
            android:label="@string/sbackup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.AdvanceSettings"
            android:label="@string/sAdvance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.favourite.FavouriteActivity"
            android:label="@string/title_activity_favourite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.flash.FlashCardActivity"
            android:label="@string/title_activity_flash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/search"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.color.ColorActivity"
            android:label="@string/title_activity_color"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- providers -->
        <provider
            android:name=".ui.search.MySuggestionProvider"
            android:authorities="com.iamsdt.pssd.MySuggestionProvider"
            android:exported="false" />

        <activity
            android:name=".ui.add.AddActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AppAboutActivity"
            android:label="@string/title_activity_app_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>